.tabs-wrapper {
  width: 100%;
  margin: 0 auto;
}

.tabs-shifters {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid grey;
  margin-bottom: 20px;
}

.tabs-link-rules,
.tabs-shifters__item {
  position: relative;
  width: auto;
  padding: 30px 0;
  margin: 5px 0;
  font-family: $font-text;
  @include adaptive-font(26, 22);
  font-weight: bold;
  color: gray;
  text-decoration: none;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20%;
    height: 6px;
    background-color: blue;
    opacity: 0;
    visibility: hidden;
    width: 0;

    transition: all .23s ease-out;
  }
}

.tabs-shifters__item_active {
  color: #171717;
  &:after {
    opacity: 1;
    visibility: visible;
    width: 100%;
  }
}

.tabs-title {
  font-family: $font-title;
  @include adaptive-font(38, 28);
  text-align: center;
  margin-bottom: 40px;
}

.tabs-subtitle {
  font-family: $font-title;
  @include adaptive-font(28, 20);
  text-align: center;
  margin-bottom: 40px;
}

.tabs-content__item {
  display: none;
  padding: 20px 20px 80px 20px;
}

.tabs-content__item_active {
  display: block;
}
